@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@700&display=swap');
a {
	text-decoration: none;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	width: 115px;
	height: 28px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

a:active,
a.active1 {
	background: rgba(219, 82, 77, 0.5);
	border-radius: 6px;
	transform: translateY(2px);
}

a:active,
a.active2 {
	background: #4c8385;
	border-radius: 6px;
	transform: translateY(2px);
}

a:active,
a.active3 {
	background: #497697;
	border-radius: 6px;
	transform: translateY(2px);
}
