.sideLabel {
	display: flex;
	flex-direction: column;
	text-align: start;
	padding-bottom: 30px;
}

.sideLabel select {
	color: #222222;
	padding: 10px 18px;
	text-align: start;
	border: 1px solid #c4c4c4;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url('../assets/img/arrow.png');
	background-repeat: no-repeat;
	background-position: calc(100% - 20px) center;
	background-size: 20px;
}

.sideLabel select:not([value='Литература, роман, стихи...']):not(:focus) {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	color: #969696;
}

.sideLabel input {
	color: #222222;
	padding: 10px 18px;
	text-align: start;
}
.sideLabel span {
	padding-bottom: 12px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
}
.sideLabel textarea {
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	text-align: start;
	color: #969696;
	padding: 16px 15px 10px 16px;
	width: 753px;
	height: 199px;
}
.sideLabel p {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: end;
	color: #b5b5b5;
	margin: 0;
	padding-top: 10px;
}
/* ------------------------------------------------------------------------------------ */
.containerOfSideBox {
	display: flex;
}

.leftSideBox {
	margin-left: 42px;
}

.leftSideInputLabel input {
	padding: 10px 18px;
	width: 184px;
	height: 41px;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	text-align: end;
	padding: 10px 18px 10px;
	margin-bottom: 30px;
}
.leftSideInputLabel select {
	padding: 10px 18px;
	width: 184px;
	height: 41px;
	border: 1px solid #c4c4c4;
	/* - */
	color: #222222;
	text-align: start;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url('../assets/img/arrow.png');
	background-repeat: no-repeat;
	background-position: calc(100% - 20px) center;
	background-size: 20px;
	margin-bottom: 29px;
}
.leftSideInputLabel span {
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
	color: #222222;
	padding-bottom: 12px;
}
.leftSideInputLabel {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* -------------------------------------------- */

.rigthSideOfLabel input {
	padding: 10px 18px;
	width: 184px;
	height: 41px;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	text-align: end;
}
.rigthSideOfLabel{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
}

.rigthSideOfLabel span {
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	text-align: center;
	color: #222222;
	padding-bottom: 12px;
}

.bestseller span {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	color: #222222;
	padding-left: 10px;
}
.bestseller {
	width: 124px;
	height: 26px;
	text-align: start;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 70px;
	padding-bottom: 36.5px;
}
.bestseller input {
	width: 26px;
	height: 26px;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
}
/* ----------- */

.uploadFragment {
	margin: 0;
	padding-bottom: 13px;
	text-align: start;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 130%;
	color: #222222;
}

.customsForAudio {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.customsForAudio span {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	color: #a3a3a3;
}
.uploadImg {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 120%;
	color: #969696;
	border: 1px solid #c4c4c4;
	box-sizing: border-box;
	padding: 10px 50px;
	cursor: pointer;
	background-image: url('../assets/img/arrowAudio.png');
	background-repeat: no-repeat;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 15px;
	text-align: end;
	background-position: 22% 50%;
	margin: 0;
	width: 220px;
}
